/* Login Page CSS */
.logos {
    width: 12%;
    height: 12%;
}

.header-one {
    color: #F2EFE4;
    font-size: 35px;
}

.text-read {
    background-color: #F28D8D;
    position: relative;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 100px;
    padding-top: 150px;
    padding-bottom: 200px;
    color: #F2EFE4;
    font-size: 23px;
    font-family: Trebuchet MS, sans-serif;
    border-radius: 10px;
}

input {
    background-color: #F2EFE4;
    border: none;
    border-radius: 20px;
    color: #F28D8D;
}

.acc-button {
    padding: 14px 60px;
    font-family: Trebuchet MS, sans-serif;
    color: #F28D8D;
    font-size: 15px;
}

.picture {
    position: absolute;
    width: 40%;
    height: 65%;   
    left: 50%;
    bottom: 20%;
    border-radius: 10px;
}

u {
    color: #F2EFE4;
}

label {
    border-radius: 50px;
}

/* Registration Page CSS */

.registration {
    position: absolute;
    color: #F2EFE4;
    left: 15%;
    top: 20%;
    font-size: 30px;
    background-color: #F28D8D;
    border-radius: 10px;
    padding: 50px 70px;
    font-family: Trebuchet MS, sans-serif;
}

.registration-input {
    background-color: #F2EFE4;
    border: none;
    border-radius: 8px;
    color: #F28D8D;
    cursor: pointer;
    width: 100%;
    padding-top: 5px;
    font-size: 15px;
}